*{
     margin: 0%;
    padding: 0%;
    font-family: 'Rubik',sans-serif;

}
body,html{
height: 100%; 

}
.hero-section{

    background-image: url("Photo/pexels-tubarones-photography-2764976.jpg");
    height:100% ;
    width: 100%;
    background-size:no-repeat;
    background-repeat:no-repeat;
    background-position: left;

}
.pt-20{

padding-top: 20%;

}
.title-text{
    font-size: 64px;
    font-weight: 900;
}


.px-10{
    padding-top: 10%;
    padding-bottom: 5%;

}
.bg-porfolio{
    background-color: #2f2f2f;
     
}

.section-text{
    font-size: 32px;

}
.mn-15{
    margin-top: 15px;
    display: block;
    

}